<footer class="footer">
    <time datetime="{{date format="DD-MM-YYYY"}}" class="footer__date">{{date format="YYYY"}}</time>
    <div class="footer__info">Powered by <a href="https://github.com/TryGhost/Ghost" target="_blank">Ghost</a></div>
</footer>