{{!< default}}

<ul class="posts">
{{#foreach posts}}
    {{#if featured}}
        <li class="post-item post-item--featured" style="background-image: url('{{image}}')">
            <article class="post post--featured">
                <h2 class="post__head post__head--featured">{{> "index/head"}}</h2>
                <p class="post__announce post__announce--featured">{{> "index/announce"}}</p>
                <section class="post__info post-info">
                    {{> "index/date"}}
                    {{> "index/tags"}}
                </section>
            </article>
        </li>
    {{else}}
        <li class="post-item post-item--regular">
            <article class="post post--regular">
                <h2 class="post__head post__head--regular">{{> "index/head"}}</h2>
                <section class="post__info post-info">
                    {{> "index/date"}}
                    {{> "index/tags"}}
                </section>
                <p class="post__announce post__announce--regular">{{> "index/announce"}}</p>
            </article>
        </li>
    {{/if}}
{{/foreach}}
</ul>

{{!pagination}}