{{!< default}}
{{#post}}
    <header class="article-meta-wrap">
        {{#if image}}<div class="article-image" style="background-image: url('{{image}}')"></div>{{/if}}
        <section class="article-meta">
            <h1 class="article-meta__head article-head"><strong class="article-head__text">{{title}}</strong></h1>
            <div class="article-meta__info article-info">
                {{> index/date class="article" type="article"}}
                {{> index/tags class="article"}}
            </div>
            {{#if meta_description}}
                <p class="article-meta__description">
                    {{meta_description}}
                </p>
            {{/if}}
        </section>
    </header>

    <article class="article">
        {{content}}
    </article>
{{/post}}