.footer {
    @include color($footer-color, $footer-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @each $mq, $padding-type in ('>desktop', desktop), ('<=desktop', tablet) {
        @include media($mq) {
            $size: map-get($padding, $padding-type);
            padding-left: $size;
            padding-right: $size;
        }
    }

    @each $mq, $fz in ('>desktop', 20px), ('<=desktop', 16px) {
        @include media($mq) {
            font-size: $fz;
        }
    }
}