.footer {
    @include color($white, $color-main);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @each $mq, $fz in ('>desktop', 20px), ('<=desktop', 16px) {
        @include media($mq) {
            font-size: $fz;
        }
    }

    a {
        color: $white;
    }
}