.footer {
    @include color($footer-color, $footer-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding;
    padding-right: $padding;
    font-size: 20px;
}