$em: 24px;

.header {
    color: $header-color;
    font-size: rems($em);
    height: ems($header-height, $em);
    display: flex;
    align-items: center;
    @include relative(3);

    &__logo {
        @include size(ems($header-height, $em));
        @extend %link-reset;


        img {
            @include size(100%, auto);
        }
    }
}

.header-info {
    &__link {
        $fz: 32px;
        @extend %link-reset;
        font-size: ems($fz, $em);
        color: $header-color;
        font-family: $font-headings;
        font-weight: 700;
        padding-left: ems(24px, $fz);
        padding-right: ems(12px, $fz);
    }

    &__description {
        font-size: 1em;
        font-family: $font-light;
        font-weight: 100;
        @include media('<=tablet') {
            display: none;
        }
    }
}