$em: 24px;

.header {
    //@include color($header-color, $header-bg);
    color: $header-color;
    font-size: rems($em);
    height: ems($header-height, $em);
    display: flex;
    align-items: center;
    @include relative(3);
    
    @include media('<=desktop') {
        padding-left: map-get($padding, tablet);
    }

    &__logo {
        @include size(ems($header-height, $em));
        @extend %link-reset;


        img {
            @include size(100%, auto);
        }
    }
}

.header-info {
    &__link {
        $fz: 32px;
        @extend %link-reset;
        //@each $mq, $fs in ('>desktop', 36px), ('<=desktop', 32px) {
        //    @include media($mq) {
        //        font-size: ems($fs, $fz);
        //    }
        //}
        font-size: ems($fz, $em);
        color: $header-color;
        font-family: $font-headings;
        font-weight: 700;
        padding-left: ems(24px, $fz);
        padding-right: ems(12px, $fz);
    }

    &__description {
        font-size: 1em;
        //@each $mq, $fs in ('>desktop', 28px), ('<=desktop', 24px) {
        //    @include media($mq) {
        //        font-size: ems($fs, $fz);
        //    }
        //}
        font-family: $font-light;
        font-weight: 100;
        @include media('<=tablet') {
            display: none;
        }
    }
}