.header {
    @include color($header-color, $header-bg);
    height: $header-height;
    display: flex;
    align-items: center;

    &__logo {
        @include size($header-height);
        @extend %link-reset;


        img {
            @include size(100%, auto);
        }
    }
}

.header-info {
    &__link {
        @extend %link-reset;
        @include media('>desktop') {
            font-size: 36px;
        }

        @include media('<=desktop') {
            font-size: 32px;
        }

        color: $header-color;
        font-family: $font-headings;
        font-weight: 700;
        padding-left: 24px;
        padding-right: 12px;
    }

    &__description {
        @each $mq, $fz in ('>desktop', 28px), ('<=desktop', 24px) {
            @include media($mq) {
                font-size: $fz;
            }
        }
        font-family: $font-light;
        font-weight: 100;
        @include media('<=tablet') {
            display: none;
        }
    }
}