$em: 24px;

@mixin header-size($fz) {
    $height: $header-height * $fz / $header-fz;

    .header {
        font-size: rem($fz);
        height: em($height, $fz);

        &__logo {
            @include size(em($height, $fz));
        }
    }

    .content {
        margin-top: - rem($height);
    }

    .post--featured,
    .article-meta {
        margin-top: rem($height);
    }
}

.header {
    color: $header-color;
    display: flex;
    align-items: center;
    @include relative(3);
    background-color: rgba(0,0,0,.1);

    &__logo {
        @extend %link-reset;

        img {
            @include size(100%, auto);
        }
    }
}

.header-info {
    &__link {
        $fz: 32px;
        @extend %link-reset;
        color: $header-color;
        font: 700 em($fz, $em) $font-headings;
        padding-left: em(24px, $fz);
        padding-right: em(12px, $fz);
    }

    &__description {
        font: 100 1em $font-light;
        @include media('<=tablet') {
            display: none;
        }
    }
}

@include media('<=phone') {
    @include header-size(16px);
}

@include media('>phone', '<=phone-huge') {
    @include header-size(18px);
}

@include media('>phone-huge', '<=desktop') {
    @include header-size(22px);
}

@include media('>desktop', '<desktop-huge') {
    @include header-size(24px);
}

@include media('>=desktop-huge') {
    @include header-size(28px);
}