%faded {
    &::after {
        content: '';
        @include absolute(2);
        @include nullify(left, top, right, bottom);
        background-color: rgba(0,0,0,0.3);
    }
}

.posts {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;
    background-color: $grid-bg;
}

.post-item {
    flex-grow: 1;
    display: flex;

    &:only-child {
        $height: 'calc(100vh - #{$footer-height})';

        height: #{$height};
    }

    &--faded {
        @extend %faded;
    }

    &--featured {
        @extend %post-header-wrap;
        flex-basis: 100%;
        order: 1;
    }

    &--regular {
        background-color: $grid-bg;
        box-sizing: border-box;
        order: 2;

        @include media('<=tablet') {
            font-size: 18px;
        }
    }
}

.post {

    &--featured {
        @extend %post-header;
    }

    &--regular {
        background-color: $white;
        flex-basis: 100%;
    }

    &__announce {
        font-size: 1em;
        margin-top: em(26px, 22px);
        margin-bottom: 0;

        a {
            font-weight: 700;

            @include parent('.post-item--featured') {
                color: $white;
            }
        }
    }
}

.post-head {
    $gap: em(12px, 48px);

    @include each-side(margin, 0, top, bottom);
    line-height: 1.16;

    a {
        @extend %link-reset;
        font-weight: 700;
        font-family: $font-headings;
    }


    &--featured {
        @include each-side(margin, $gap, left, right);
        font-size: em(48px, 22px);
    }
    
    &--faded {
        @extend %faded;
    }
    
    &--regular {
        @include relative(2);

        font-size: 1.8em;
        background-color: $color-main;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        a {
            color: $white;
            display: block;
            @include relative(3);
        }
    }
    
    &__text {
        line-height: 1.16;

        &--featured {
            display: inline;
            background-color: $white;
            box-shadow: $gap 0 0 $white, -$gap 0 0 $white;

            a {
                @include parent('.post-item--faded') {
                    color: #777;
                }
            }
        }
    }
}