.posts {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;
}

.post-item {
    flex-grow: 1;

    &--featured {
        flex-basis: 100%;
        order: 1;

        @include media('>desktop') {
            height: 680px;
        }

        @include media('<=desktop') {
            height: auto;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        @include relative(1);

        &::after {
            content: '';
            @include absolute(2);
            @include nullify(left, top, right, bottom);
            background-color: rgba(0,0,0,0.3);
        }
    }
    
    &--regular {
        @include media('>=desktop') {
            flex-basis: 33.33333%;
        }

        @include media('<desktop') {
            flex-basis: 100%;
        }

        order: 2;
    }
}

.post {

    &--featured {
        @include media('>desktop') {
            flex-basis: 66.66666%;
        }
        
        @include media('<=desktop') {
            padding: 3 * map-get($padding, tablet) map-get($padding, tablet);
            flex-basis: 100%;
        }
        
        color: #fff;
        @include relative(3);
    }

    &--regular {
        @each $mq, $padding-type in ('>desktop', desktop), ('<=desktop', tablet) {
            padding: map-get($padding, $padding-type);
        }
    }

    &__head {
        margin-top: 0;
        margin-bottom: ems(32px, 96px);
        line-height: 1;

        a {
            @extend %link-reset;
            font-weight: 700;
            font-family: $font-bold;
        }

        @each $type, $fz in (featured, 64px), (regular, 28px) {
            &--#{$type} {
                font-size: $fz;
            }
        }

        @each $type, $color in (featured, $white), (regular, $black) {
            &--#{$type} {

                a {
                    color: $color;
                }
            }
        }

        &--regular {
            a:hover {
                color: $color-main;
            }
        }
    }

    &__announce {

        &--featured {
            @include media('>desktop') {
                font-size: 24px;
            }
            
            @include media('<=desktop') {
                font-size: 18px;
            }
        }
        
        &--regular {
            @include media('>desktop') {
                font-size: 18px;
            }

            @include media('<=desktop') {
                font-size: 16px;
            }
        }
    }
}