.posts {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;
    margin-top: -$header-height;
}

.post-item {
    flex-grow: 1;

    &--featured {
        flex-basis: 100%;
        order: 1;

        @include media('>desktop') {
            height: 680px;
        }

        @include media('<=desktop') {
            height: auto;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        @include relative(1);

        &::after {
            content: '';
            @include absolute(2);
            @include nullify(left, top, right, bottom);
            background-color: rgba(0,0,0,0.3);
        }
    }
    
    &--regular {
        @include media('>=desktop') {
            flex-basis: 33.33333%;
        }

        @include media('<desktop') {
            flex-basis: 100%;
        }

        order: 2;

        @include media('<=tablet') {
            background-color: $grey;
            padding: map-get($padding, tablet) map-get($padding, tablet) 0;
        }
    }
}

.post {

    &--featured {
        font-size: 22px;

        @include media('>desktop') {
            flex-basis: 66.66666%;
        }
        
        @include media('<=desktop') {
            padding: #{80px + $header-height} map-get($padding, tablet) 80px;
            flex-basis: 100%;
        }
        
        color: #fff;
        @include relative(3);
    }

    &--regular {
        @each $mq, $padding-type in ('>desktop', desktop), ('<=desktop', tablet) {
            padding: map-get($padding, $padding-type);
        }

        @include media('<=tablet') {
            background-color: $white;
        }
    }

    &__announce {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.post-head {
    $padding: ems(12px, 48px);

    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.16;
    font-size: ems(48px, 22px);

    a {
        @extend %link-reset;
        font-weight: 700;
        font-family: $font-headings;
    }

    &--featured {
        margin-left: $padding;
        margin-right: $padding;
    }
    
    &__text {

        &--featured {
            display: inline;
            background-color: $white;
            box-shadow: $padding 0 0 $white, -$padding 0 0 $white;

            a {
                color: #777;
            }
        }
    }
}

.post-info {
    display: flex;
    align-items: center;
    margin-top: ems(26px, 22px);
    margin-bottom: ems(26px, 22px);

    @include parent('.post--regular') {
        @include media('>tablet') {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.calendar {
    @each $type, $color in (featured, $white), (regular, $black) {
        &--#{$type} {
            fill: $color;
        }
    }
}

.post-date {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-right: ems(24px, 22px);

    &__icon {
        @include size(ems(32px, 16px));
    }
    
    &__time {
        font-family: $font-headings;
        font-weight: 700;
        margin-left: ems(8px, 16px);
    }
}

.tags {
    @extend %list-reset;
    display: flex;
}

.tag {
    font-size: 1em;
    margin-right: ems(12px, 22px);
    @extend %link-reset;
    font-weight: 700;
    font-family: $font-headings;

    &--featured {
        color: $white;
    }
}