.article-meta-wrap {
    margin-top: -$header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $color-main;
    @include relative(1);

    &--faded {
        @extend %faded;
    }
}

.article-meta {
    color: $white;
    @include relative(3);
    font-size: 22px;
    flex-basis: 100%;
    box-sizing: border-box;

    margin-top: $header-height;
    padding-top: 80px;
    padding-bottom: 80px;
}

.article-head {
    $gap: ems(12px, 48px);

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $gap;
    margin-right: $gap;
    font-size: ems(48px, 22px);
    font-weight: 700;
    font-family: $font-headings;

    &__text {
        line-height: 1.16;
        display: inline;
        //background-color: $white;
        //box-shadow: $gap 0 0 $white, -$gap 0 0 $white;
        color: $white;

        @include parent('.article-meta-wrap--faded') {
            color: $white;
        }
    }
}

.article-info {
    display: flex;
    align-items: center;
    margin-top: ems(26px, 22px);
    font-size: 1.1em;
}

.article-date {
    display: flex;
    align-items: center;
    margin-right: ems(24px, 22px);

    &__icon {
        @include size(ems(32px, 16px));
    }

    &__time {
        font-family: $font-headings;
        font-weight: 700;
        margin-left: ems(8px, 16px);
    }
}

.article {
    background-color: $white;
    @include each-side(padding, 2em, top, bottom);

    @include media('<=desktop') {
        font-size: 18px;
    }

    h2, h3, h4, h5 {
        margin-top: 0;
        font-family: $font-headings;
    }

    h2 {
        font-size: ems(36px, 18px);
    }
    
    img {
        width: 100%;
    }
    
    pre {
        font-family: $font-mono;
    }
}