.article-meta-wrap {
    margin-top: -$header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $color-main;
    @include relative(1);

    &--faded {
        @extend %faded;
    }
}

.article-meta {
    color: $white;
    @include relative(3);
    font-size: 22px;

    @include media('<=desktop') {
        padding: #{80px + $header-height} map-get($padding, tablet) 80px;
        flex-basis: 100%;
    }
}

.article-head {
    $gap: ems(12px, 48px);

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $gap;
    margin-right: $gap;
    font-size: ems(48px, 22px);
    font-weight: 700;
    font-family: $font-headings;

    &__text {
        display: inline;
        background-color: $white;
        box-shadow: $gap 0 0 $white, -$gap 0 0 $white;
        line-height: 1.16;
        color: $color-main;

        @include parent('.article-meta-wrap--faded') {
            color: #777;
        }
    }
}

.article-info {
    display: flex;
    align-items: center;
    margin-top: ems(26px, 22px);
    font-size: 1.1em;
}

.article-date {
    display: flex;
    align-items: center;
    margin-right: ems(24px, 22px);

    &__icon {
        @include size(ems(32px, 16px));
    }

    &__time {
        font-family: $font-headings;
        font-weight: 700;
        margin-left: ems(8px, 16px);
    }
}

.article {
    @include media('<=tablet') {
        font-size: 18px;
        padding: map-get($padding, tablet);
    }

    h2, h3, h4, h5 {
        margin-top: 0;
        font-family: $font-headings;
    }

    h2 {
        font-size: ems(36px, 18px);
    }
    
    img {
        width: 100%;
    }
    
    pre {
        font-family: $font-mono;
    }
    
    //pre {
    //    @include color($white, #333);
    //    font-size: ems(16px, 18px);
    //    overflow-x: hidden;
    //    padding: ems(12px, 18px);
    //}
}