.article-meta-wrap {
    @extend %post-header-wrap;
    @include relative(1);

    &--faded {
        @extend %faded;
    }
}

.article-meta {
    @extend %post-header;
}

.article-head {
    $gap: em(12px, 48px);

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $gap;
    margin-right: $gap;
    font-size: em(48px, 22px);
    font-weight: 700;
    font-family: $font-headings;

    &__text {
        line-height: 1.16;
        display: inline;
        color: $white;
    }
}

.article {
    background-color: $white;
    @include each-side(padding, 2em, top, bottom);

    @include media('<=desktop') {
        font-size: 18px;
    }

    @include media('>=desktop-huge') {
        font-size: 20px;
    }

    h2, h3, h4, h5 {
        margin-top: 0;
        font-family: $font-headings;
    }

    h2 {
        font-size: em(36px, 18px);
    }
    
    img {
        width: 100%;
    }
    
    pre {
        font-family: $font-mono;
    }
}