@mixin grid($margin, $gap, $padding) {
    $half-gap: .5 * $gap;
    $margin-outer: $margin - $half-gap;

    .header,
    .footer,
    .article-meta,
    .article {
        @include each-side(padding, $margin, left, right);
    }

    .posts {
        @include each-side(padding, $margin-outer, left, right);
    }

    .post-item {

        &--featured {
            @include each-side(margin, -$margin-outer, left, right);
        }

        &--regular {
            margin-top: $gap;
            @include each-side(padding, $half-gap, left, right);
        }
    }

    .post {

        &--featured {
            @include each-side(padding, $margin, left, right);
        }

        &--regular {
            @include each-side(padding, $padding, left, right, bottom);
        }
    }

    .post-head {

        &--regular {
            @include each-side(margin, -$padding, left, right);

            a {
                padding: .5 * $padding $padding;
            }
        }
    }
}

@mixin cells($n) {
    .post-item--regular {
        flex-basis: percentage(1/$n);
    }
}

@include media('<=phone-huge') {
    @include grid(18px, 16px, 16px);
    @include cells(1);
}

@include media('<=desktop', '>phone-huge') {
    @include grid(24px, 24px, 18px);
}

@include media('>desktop', '<=desktop-medium') {
    @include grid(48px, 32px, 24px);
}

@include media('>desktop-medium', '<desktop-huge') {
    @include grid(120px, 32px, 24px);
}

@include media('>=desktop-huge') {
    @include grid(240px, 36px, 24px);
    @include cells(3);
}

@include media('<desktop-huge', '>tablet') {
    @include cells(3);
}

@include media('<=tablet', '>phone-huge') {
    @include cells(2);
}