@import 'common/variables';
@import 'common/mixins';
@import 'common/adaptive';
@import 'common/reset';
@import 'common/placeholders';
@import 'common/layout';
@import 'partials/header';
@import 'partials/footer';