<div class="post-info__date post-date">
    <svg class="post-date__icon">
        <use xlink:href="#calendar-icon" class="calendar calendar--{{type}}"></use>
    </svg>
    <time class="post-date__time" datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD.MM.YYYY"}}</time>
</div>