{{#if tags}}
    <ul class="post-info__tags tags">
        {{#foreach tags}}
            <li class="tag">
                <a href="{{url}}" class="tag__link">{{name}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}