@font-face {
    font-family: 'Roboto Black';
    font-weight: 700;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    font-weight: 100;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab Bold';
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
}