@include sticky-footer($footer-height, '.page-wrap', '.footer');

.sprite {
    @include size(0);
    visibility: hidden;
}

html {
    font: $rem $font-regular;
}

a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}