::selection {
    background-color: complement($color-main);
    color: $white;
}

@each $mq, $footer-height in ('>=desktop', 120px), ('<desktop', 60px) {
    @include media($mq) {
        @include sticky-footer($footer-height, '.page-wrap', '.footer');
    }
}

.sprite {
    @include size(0);
    visibility: hidden;
}

html {
    font: $rem $font-regular;
}

body {
    background-color: $grid-bg;
}

a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}