%cursor {
    &:hover {
        cursor: pointer;
    }
}

%link-reset {
    text-decoration: none;
}

%list-reset {
    @include nullify(margin, padding);
    list-style-type: none;
}

%text-replace {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}