/* Colors */
$color-main: #2772db;
$color-link: $color-main;
$black: #000 !default;
$white: #fff !default;
$grey: #eee !default;


/* Fonts */
$font-regular: 'Roboto Regular', sans-serif;
$font-bold: 'Roboto Black', sans-serif;
$font-light: 'Roboto Light', sans-serif;
$font-headings: 'Roboto Slab Bold', sans-serif;
$font-mono: 'Roboto Mono', monospaced;
$rem: 16px;

$padding: (desktop: 36px, tablet: 24px);

/* Header */
$header-bg: $color-main;
$header-color: #fff;
$header-height: 60px;

/* Footer */
$footer-color: #000;
$footer-bg: #eee;
$footer-height: 60px;