/* Breakpoints */
$breakpoints: (
    'phone': 320px,
    'phone-huge': 720px,
    'tablet': 768px,
    'desktop': 1024px,
    'desktop-medium': 1366px,
    'desktop-huge': 1920px
);

/* Colors */
$color-main: #2772db;
$color-link: $color-main;
$color-neutral: grayscale($color-main);
$black: #000 !default;
$white: #fff !default;
$grey: #eee !default;
$dark-grey: #777 !default;

/* Fonts */
$font-regular: 'Roboto Regular', sans-serif;
$font-bold: 'Roboto Black', sans-serif;
$font-light: 'Roboto Light', sans-serif;
$font-headings: 'Roboto Slab Bold', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$rem: 16px;

$padding: (desktop: 36px, tablet: 24px);

/* Header */
$header-bg: $color-main;
$header-color: #fff;
$header-height: 62.83px;
$header-fz: 24px;

/* Footer */
$footer-color: #000;
$footer-bg: #eee;
$footer-height: 60px;

$grid-bg: #eee;