/* Colors */
$color-main: #2772db;
$color-link: $color-main;

/* Fonts */
$font-regular: 'Roboto Regular', sans-serif;
$font-bold: 'Roboto Black', sans-serif;
$font-light: 'Roboto Light', sans-serif;
$rem: 16px;

$padding: 24px;

/* Header */
$header-bg: $color-main;
$header-color: #fff;
$header-height: 60px;

/* Footer */
$footer-color: #000;
$footer-bg: #eee;
$footer-height: 60px;